name: Test

on:
  pull_request:

jobs:
  frontend-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          version: 8
      - name: Install Deps
        run: pnpm install
      - name: Lint
        run: pnpm lint
      - name: Test
        run: pnpm test
